body{
    
    background-color: bisque;
    align-items: center;
}
video{
    display: inline-block;
    width: 75%;
    height: 150px;
    margin: 20px;
}
.services{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.impacts{
    background-color: antiquewhite;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
.container{
     background-color: rgb(255, 255, 255);
      margin: 20px;
    padding: 15px;
    border-radius: 10px;
}
.project{
     background-color: rgb(212, 184, 147);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
.features h3{
    color: black;
    margin-bottom: 30px;
}
.features-cards{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 2px 8pb rgba(red, green, blue, alpha);
    padding: 20px;
}
.card img{
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
}
h4{
    color: red;
}
.video{
    display: inline-block;
}
.site-footer{
    background-color: orange;
    padding: 20px;
    text-align: center;
}
.footer a{
color: rgb(17, 17, 132);
}
head a{
    color: rgb(52, 211, 12);
    text-decoration: none;
    margin: 0 10px;
}
.hero-media img{
    max-width: 100%;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 0%;
}
.hero-inner{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.logo{
    align-content: center;
    padding-left: 50%;
}
.header{
    background-color: orange;
}
@media only screen and (max-width: 768px){
    .hero-inner{
        flex-direction: column;
        text-align: center;
    }
    .hero-media img{
        margin: 0;
    }
    body{
background-color: red;
}
}